:root {
  --spacing: 8px;
}
.App {
  background-color: black;
  color: white;
  min-height: calc(100vh - var(--spacing)*4);
  padding: calc(var(--spacing)*2);
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: calc(100% - var(--spacing)*4);
}

.stopwatch {
  width: 100%;
  /* max-width: 300px; */
  /* border: solid white 2px; */
  padding: var(--spacing);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.stopwatch .buttons {
  display: flex;

  justify-content: space-around;
  width: 100%;
}

.stopwatch .buttons button {
  padding: 20px;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.stopwatch .buttons button img {
  width: 100%;
  object-fit: contain;
}

.stopwatch .buttons button.stop img {
  width: 190%;
}

.stopwatch .buttons button.start img {
  width: 100%;
  margin-left: var(--spacing);
}

.stopwatch .buttons button.reset img {
  width: 145%;
  margin-bottom: 5px;
}
.stopwatch .numbers {
  font-size: 20.5vw;
}